
  .stars .container {
    position: absolute;
    animation: stars linear infinite;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
  .stars .container .star {
    animation: twinkle linear infinite;
    border-radius: 100%;
    transform: translateZ(0);
  }
  .stars .container:nth-child(0) {
    width: 3px;
    height: 3px;
    left: 30.5vw;
    animation-delay: -995.3333333333334s;
    animation-duration: 94.46666666666665s;
  }
  .stars .container:nth-child(0) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.5s;
    animation-duration: 36.4s;
    background: #f9a374;
  }
  .stars .container:nth-child(1) {
    width: 3px;
    height: 3px;
    left: 11vw;
    animation-delay: -999.6666666666666s;
    animation-duration: 29.066666666666666s;
  }
  .stars .container:nth-child(1) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47s;
    animation-duration: 9s;
    background: rgba(223,231,192,0.7);
  }
  .stars .container:nth-child(2) {
    width: 3px;
    height: 3px;
    left: 6.5vw;
    animation-delay: -999.4666666666667s;
    animation-duration: 22.333333333333332s;
  }
  .stars .container:nth-child(2) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.2s;
    animation-duration: 48.4s;
    background: rgba(244,192,219,0.7);
  }
  .stars .container:nth-child(3) {
    width: 2px;
    height: 2px;
    left: 38.5vw;
    animation-delay: -993.8s;
    animation-duration: 21.4s;
  }
  .stars .container:nth-child(3) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.9s;
    animation-duration: 17.1s;
    background: #f2b4ef;
  }
  .stars .container:nth-child(4) {
    width: 2px;
    height: 2px;
    left: 76vw;
    animation-delay: -993.3s;
    animation-duration: 43.7s;
  }
  .stars .container:nth-child(4) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.3s;
    animation-duration: 7s;
    background: rgba(218,158,220,0.8);
  }
  .stars .container:nth-child(5) {
    width: 2px;
    height: 2px;
    left: 70vw;
    animation-delay: -997.3s;
    animation-duration: 52.4s;
  }
  .stars .container:nth-child(5) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.9s;
    animation-duration: 46.6s;
    background: rgba(246,211,135,0.8);
  }
  .stars .container:nth-child(6) {
    width: 1px;
    height: 1px;
    left: 31vw;
    animation-delay: -987.8s;
    animation-duration: 395s;
  }
  .stars .container:nth-child(6) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.4s;
    animation-duration: 14.3s;
    background: rgba(210,215,219,0.7);
  }
  .stars .container:nth-child(7) {
    width: 2px;
    height: 2px;
    left: 86vw;
    animation-delay: -999.4s;
    animation-duration: 142.5s;
  }
  .stars .container:nth-child(7) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.4s;
    animation-duration: 45.1s;
    background: #ea9cf2;
  }
  .stars .container:nth-child(8) {
    width: 1px;
    height: 1px;
    left: 60.5vw;
    animation-delay: -998s;
    animation-duration: 90.4s;
  }
  .stars .container:nth-child(8) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.9s;
    animation-duration: 24.7s;
    background: #cbba78;
  }
  .stars .container:nth-child(9) {
    width: 3px;
    height: 3px;
    left: 94vw;
    animation-delay: -993.4666666666667s;
    animation-duration: 44.333333333333336s;
  }
  .stars .container:nth-child(9) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.7s;
    animation-duration: 41.2s;
    background: #fcbfa5;
  }
  .stars .container:nth-child(10) {
    width: 3px;
    height: 3px;
    left: 36.5vw;
    animation-delay: -996.2s;
    animation-duration: 42.333333333333336s;
  }
  .stars .container:nth-child(10) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.5s;
    animation-duration: 8s;
    background: rgba(216,166,157,0.7);
  }
  .stars .container:nth-child(11) {
    width: 3px;
    height: 3px;
    left: 78vw;
    animation-delay: -993.3333333333334s;
    animation-duration: 25.8s;
  }
  .stars .container:nth-child(11) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.3s;
    animation-duration: 5s;
    background: rgba(253,189,234,0.7);
  }
  .stars .container:nth-child(12) {
    width: 2px;
    height: 2px;
    left: 1.5vw;
    animation-delay: -996.1s;
    animation-duration: 163.9s;
  }
  .stars .container:nth-child(12) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42s;
    animation-duration: 31.2s;
    background: #d9f7ca;
  }
  .stars .container:nth-child(13) {
    width: 2px;
    height: 2px;
    left: 24.5vw;
    animation-delay: -996.5s;
    animation-duration: 156.8s;
  }
  .stars .container:nth-child(13) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.6s;
    animation-duration: 29.7s;
    background: #eccedb;
  }
  .stars .container:nth-child(14) {
    width: 3px;
    height: 3px;
    left: 29vw;
    animation-delay: -997.8s;
    animation-duration: 54.13333333333333s;
  }
  .stars .container:nth-child(14) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.4s;
    animation-duration: 14.4s;
    background: rgba(243,230,198,0.7);
  }
  .stars .container:nth-child(15) {
    width: 1px;
    height: 1px;
    left: 20vw;
    animation-delay: -990.4s;
    animation-duration: 150.6s;
  }
  .stars .container:nth-child(15) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.6s;
    animation-duration: 49s;
    background: #f29cd6;
  }
  .stars .container:nth-child(16) {
    width: 1px;
    height: 1px;
    left: 53.5vw;
    animation-delay: -981.6s;
    animation-duration: 162.2s;
  }
  .stars .container:nth-child(16) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.1s;
    animation-duration: 30.3s;
    background: rgba(233,182,141,0.9);
  }
  .stars .container:nth-child(17) {
    width: 3px;
    height: 3px;
    left: 52.5vw;
    animation-delay: -999.9333333333333s;
    animation-duration: 90.13333333333333s;
  }
  .stars .container:nth-child(17) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48s;
    animation-duration: 6.9s;
    background: rgba(228,241,128,0.8);
  }
  .stars .container:nth-child(18) {
    width: 3px;
    height: 3px;
    left: 46.5vw;
    animation-delay: -995.1333333333333s;
    animation-duration: 63.666666666666664s;
  }
  .stars .container:nth-child(18) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.2s;
    animation-duration: 25s;
    background: #ec9afd;
  }
  .stars .container:nth-child(19) {
    width: 2px;
    height: 2px;
    left: 88vw;
    animation-delay: -991.2s;
    animation-duration: 104s;
  }
  .stars .container:nth-child(19) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.3s;
    animation-duration: 9.3s;
    background: rgba(239,184,232,0.8);
  }
  .stars .container:nth-child(20) {
    width: 1px;
    height: 1px;
    left: 67vw;
    animation-delay: -996.4s;
    animation-duration: 177.8s;
  }
  .stars .container:nth-child(20) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.5s;
    animation-duration: 39.5s;
    background: rgba(237,216,143,0.7);
  }
  .stars .container:nth-child(21) {
    width: 3px;
    height: 3px;
    left: 32vw;
    animation-delay: -999.6666666666666s;
    animation-duration: 82.60000000000001s;
  }
  .stars .container:nth-child(21) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.7s;
    animation-duration: 9.5s;
    background: rgba(233,209,194,0.7);
  }
  .stars .container:nth-child(22) {
    width: 2px;
    height: 2px;
    left: 60vw;
    animation-delay: -999.1s;
    animation-duration: 131.6s;
  }
  .stars .container:nth-child(22) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.3s;
    animation-duration: 5.7s;
    background: rgba(211,153,179,0.7);
  }
  .stars .container:nth-child(23) {
    width: 3px;
    height: 3px;
    left: 36vw;
    animation-delay: -994.0666666666667s;
    animation-duration: 58.199999999999996s;
  }
  .stars .container:nth-child(23) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.7s;
    animation-duration: 11.3s;
    background: rgba(255,170,120,0.8);
  }
  .stars .container:nth-child(24) {
    width: 2px;
    height: 2px;
    left: 41vw;
    animation-delay: -995.8s;
    animation-duration: 183.8s;
  }
  .stars .container:nth-child(24) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.3s;
    animation-duration: 21.4s;
    background: rgba(220,164,247,0.7);
  }
  .stars .container:nth-child(25) {
    width: 3px;
    height: 3px;
    left: 54.5vw;
    animation-delay: -995.2666666666667s;
    animation-duration: 58.333333333333336s;
  }
  .stars .container:nth-child(25) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.6s;
    animation-duration: 12.7s;
    background: rgba(246,204,141,0.8);
  }
  .stars .container:nth-child(26) {
    width: 1px;
    height: 1px;
    left: 85.5vw;
    animation-delay: -989.8s;
    animation-duration: 307.6s;
  }
  .stars .container:nth-child(26) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.9s;
    animation-duration: 42.2s;
    background: rgba(249,254,120,0.7);
  }
  .stars .container:nth-child(27) {
    width: 3px;
    height: 3px;
    left: 58.5vw;
    animation-delay: -995.6666666666666s;
    animation-duration: 24.066666666666666s;
  }
  .stars .container:nth-child(27) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47s;
    animation-duration: 8.4s;
    background: rgba(237,219,213,0.7);
  }
  .stars .container:nth-child(28) {
    width: 3px;
    height: 3px;
    left: 15.5vw;
    animation-delay: -993.8s;
    animation-duration: 79.13333333333334s;
  }
  .stars .container:nth-child(28) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.7s;
    animation-duration: 15s;
    background: rgba(247,178,187,0.7);
  }
  .stars .container:nth-child(29) {
    width: 2px;
    height: 2px;
    left: 25vw;
    animation-delay: -991.2s;
    animation-duration: 122.7s;
  }
  .stars .container:nth-child(29) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.4s;
    animation-duration: 44.8s;
    background: #ebed89;
  }
  .stars .container:nth-child(30) {
    width: 2px;
    height: 2px;
    left: 74.5vw;
    animation-delay: -997s;
    animation-duration: 62.6s;
  }
  .stars .container:nth-child(30) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.3s;
    animation-duration: 37.2s;
    background: #e0b1be;
  }
  .stars .container:nth-child(31) {
    width: 3px;
    height: 3px;
    left: 77.5vw;
    animation-delay: -997.4s;
    animation-duration: 32.4s;
  }
  .stars .container:nth-child(31) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.4s;
    animation-duration: 32.1s;
    background: rgba(218,156,146,0.8);
  }
  .stars .container:nth-child(32) {
    width: 2px;
    height: 2px;
    left: 31vw;
    animation-delay: -999.1s;
    animation-duration: 52.1s;
  }
  .stars .container:nth-child(32) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.3s;
    animation-duration: 42.2s;
    background: #c9caea;
  }
  .stars .container:nth-child(33) {
    width: 3px;
    height: 3px;
    left: 39.5vw;
    animation-delay: -995.8666666666667s;
    animation-duration: 133.20000000000002s;
  }
  .stars .container:nth-child(33) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.4s;
    animation-duration: 24.1s;
    background: rgba(247,252,173,0.8);
  }
  .stars .container:nth-child(34) {
    width: 2px;
    height: 2px;
    left: 33.5vw;
    animation-delay: -993.1s;
    animation-duration: 187.5s;
  }
  .stars .container:nth-child(34) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.5s;
    animation-duration: 30.1s;
    background: #fcf0fe;
  }
  .stars .container:nth-child(35) {
    width: 1px;
    height: 1px;
    left: 19.5vw;
    animation-delay: -993s;
    animation-duration: 223.4s;
  }
  .stars .container:nth-child(35) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.7s;
    animation-duration: 24.4s;
    background: rgba(220,174,183,0.9);
  }
  .stars .container:nth-child(36) {
    width: 3px;
    height: 3px;
    left: 62vw;
    animation-delay: -998.9333333333333s;
    animation-duration: 94.46666666666665s;
  }
  .stars .container:nth-child(36) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.4s;
    animation-duration: 11.4s;
    background: rgba(249,223,165,0.8);
  }
  .stars .container:nth-child(37) {
    width: 1px;
    height: 1px;
    left: 53vw;
    animation-delay: -994.2s;
    animation-duration: 322.2s;
  }
  .stars .container:nth-child(37) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.8s;
    animation-duration: 44.9s;
    background: rgba(240,190,169,0.7);
  }
  .stars .container:nth-child(38) {
    width: 3px;
    height: 3px;
    left: 46.5vw;
    animation-delay: -996.4s;
    animation-duration: 125.60000000000001s;
  }
  .stars .container:nth-child(38) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.8s;
    animation-duration: 22.3s;
    background: #e3a7ed;
  }
  .stars .container:nth-child(39) {
    width: 2px;
    height: 2px;
    left: 39.5vw;
    animation-delay: -996.2s;
    animation-duration: 182.8s;
  }
  .stars .container:nth-child(39) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.9s;
    animation-duration: 5.7s;
    background: rgba(237,230,197,0.8);
  }
  .stars .container:nth-child(40) {
    width: 1px;
    height: 1px;
    left: 15.5vw;
    animation-delay: -996.6s;
    animation-duration: 163.6s;
  }
  .stars .container:nth-child(40) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.4s;
    animation-duration: 49.6s;
    background: rgba(240,241,176,0.8);
  }
  .stars .container:nth-child(41) {
    width: 1px;
    height: 1px;
    left: 6.5vw;
    animation-delay: -997.2s;
    animation-duration: 54s;
  }
  .stars .container:nth-child(41) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.5s;
    animation-duration: 23.4s;
    background: rgba(239,219,140,0.7);
  }
  .stars .container:nth-child(42) {
    width: 1px;
    height: 1px;
    left: 63vw;
    animation-delay: -995.4s;
    animation-duration: 384.4s;
  }
  .stars .container:nth-child(42) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.1s;
    animation-duration: 27.8s;
    background: #fc9d9b;
  }
  .stars .container:nth-child(43) {
    width: 1px;
    height: 1px;
    left: 56.5vw;
    animation-delay: -985.2s;
    animation-duration: 246.8s;
  }
  .stars .container:nth-child(43) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.6s;
    animation-duration: 41.8s;
    background: rgba(234,188,170,0.8);
  }
  .stars .container:nth-child(44) {
    width: 2px;
    height: 2px;
    left: 13vw;
    animation-delay: -998s;
    animation-duration: 151s;
  }
  .stars .container:nth-child(44) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.3s;
    animation-duration: 17s;
    background: rgba(243,222,221,0.9);
  }
  .stars .container:nth-child(45) {
    width: 2px;
    height: 2px;
    left: 7.5vw;
    animation-delay: -992s;
    animation-duration: 124.2s;
  }
  .stars .container:nth-child(45) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.3s;
    animation-duration: 34s;
    background: rgba(214,176,109,0.9);
  }
  .stars .container:nth-child(46) {
    width: 1px;
    height: 1px;
    left: 5.5vw;
    animation-delay: -981s;
    animation-duration: 260s;
  }
  .stars .container:nth-child(46) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.6s;
    animation-duration: 17.7s;
    background: rgba(224,215,148,0.7);
  }
  .stars .container:nth-child(47) {
    width: 2px;
    height: 2px;
    left: 79vw;
    animation-delay: -992.8s;
    animation-duration: 23.7s;
  }
  .stars .container:nth-child(47) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.3s;
    animation-duration: 16.9s;
    background: rgba(234,169,118,0.9);
  }
  .stars .container:nth-child(48) {
    width: 1px;
    height: 1px;
    left: 50vw;
    animation-delay: -982s;
    animation-duration: 191.2s;
  }
  .stars .container:nth-child(48) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.7s;
    animation-duration: 6.4s;
    background: rgba(246,212,115,0.7);
  }
  .stars .container:nth-child(49) {
    width: 3px;
    height: 3px;
    left: 77vw;
    animation-delay: -999s;
    animation-duration: 67.33333333333333s;
  }
  .stars .container:nth-child(49) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.8s;
    animation-duration: 46.1s;
    background: rgba(236,201,164,0.7);
  }
  .stars .container:nth-child(50) {
    width: 1px;
    height: 1px;
    left: 17vw;
    animation-delay: -984.8s;
    animation-duration: 379.2s;
  }
  .stars .container:nth-child(50) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.8s;
    animation-duration: 39.8s;
    background: #f1ff8a;
  }
  .stars .container:nth-child(51) {
    width: 1px;
    height: 1px;
    left: 35.5vw;
    animation-delay: -991.6s;
    animation-duration: 159s;
  }
  .stars .container:nth-child(51) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.1s;
    animation-duration: 9s;
    background: rgba(220,166,255,0.7);
  }
  .stars .container:nth-child(52) {
    width: 2px;
    height: 2px;
    left: 71.5vw;
    animation-delay: -996.1s;
    animation-duration: 138.4s;
  }
  .stars .container:nth-child(52) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.6s;
    animation-duration: 31.9s;
    background: rgba(235,205,247,0.9);
  }
  .stars .container:nth-child(53) {
    width: 2px;
    height: 2px;
    left: 48vw;
    animation-delay: -994.1s;
    animation-duration: 118.7s;
  }
  .stars .container:nth-child(53) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.9s;
    animation-duration: 8.6s;
    background: rgba(238,215,101,0.9);
  }
  .stars .container:nth-child(54) {
    width: 3px;
    height: 3px;
    left: 66vw;
    animation-delay: -999.6s;
    animation-duration: 29.933333333333334s;
  }
  .stars .container:nth-child(54) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.6s;
    animation-duration: 26.4s;
    background: rgba(239,225,205,0.9);
  }
  .stars .container:nth-child(55) {
    width: 3px;
    height: 3px;
    left: 58.5vw;
    animation-delay: -993.8666666666667s;
    animation-duration: 98.39999999999999s;
  }
  .stars .container:nth-child(55) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.3s;
    animation-duration: 10s;
    background: #def9c0;
  }
  .stars .container:nth-child(56) {
    width: 2px;
    height: 2px;
    left: 80.5vw;
    animation-delay: -991.9s;
    animation-duration: 107.4s;
  }
  .stars .container:nth-child(56) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41s;
    animation-duration: 23.1s;
    background: rgba(243,181,151,0.7);
  }
  .stars .container:nth-child(57) {
    width: 2px;
    height: 2px;
    left: 82.5vw;
    animation-delay: -990.9s;
    animation-duration: 94.6s;
  }
  .stars .container:nth-child(57) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.8s;
    animation-duration: 15.5s;
    background: rgba(227,207,239,0.7);
  }
  .stars .container:nth-child(58) {
    width: 1px;
    height: 1px;
    left: 64vw;
    animation-delay: -988s;
    animation-duration: 260.6s;
  }
  .stars .container:nth-child(58) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.9s;
    animation-duration: 6.4s;
    background: rgba(239,226,182,0.7);
  }
  .stars .container:nth-child(59) {
    width: 3px;
    height: 3px;
    left: 29vw;
    animation-delay: -999.4666666666667s;
    animation-duration: 31.333333333333332s;
  }
  .stars .container:nth-child(59) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.9s;
    animation-duration: 37.1s;
    background: rgba(241,158,139,0.7);
  }
  .stars .container:nth-child(60) {
    width: 3px;
    height: 3px;
    left: 28vw;
    animation-delay: -995.6s;
    animation-duration: 78.13333333333334s;
  }
  .stars .container:nth-child(60) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.1s;
    animation-duration: 10.8s;
    background: rgba(211,246,112,0.9);
  }
  .stars .container:nth-child(61) {
    width: 1px;
    height: 1px;
    left: 0vw;
    animation-delay: -996.4s;
    animation-duration: 185.8s;
  }
  .stars .container:nth-child(61) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.9s;
    animation-duration: 40.5s;
    background: rgba(237,203,131,0.9);
  }
  .stars .container:nth-child(62) {
    width: 3px;
    height: 3px;
    left: 55.5vw;
    animation-delay: -995.8666666666667s;
    animation-duration: 120.26666666666667s;
  }
  .stars .container:nth-child(62) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.7s;
    animation-duration: 42.9s;
    background: rgba(236,205,191,0.9);
  }
  .stars .container:nth-child(63) {
    width: 3px;
    height: 3px;
    left: 53.5vw;
    animation-delay: -994.2s;
    animation-duration: 111s;
  }
  .stars .container:nth-child(63) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.6s;
    animation-duration: 23.5s;
    background: rgba(218,253,196,0.8);
  }
  .stars .container:nth-child(64) {
    width: 1px;
    height: 1px;
    left: 91vw;
    animation-delay: -981s;
    animation-duration: 41.2s;
  }
  .stars .container:nth-child(64) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.6s;
    animation-duration: 11s;
    background: rgba(232,157,120,0.8);
  }
  .stars .container:nth-child(65) {
    width: 2px;
    height: 2px;
    left: 39.5vw;
    animation-delay: -999.9s;
    animation-duration: 181.1s;
  }
  .stars .container:nth-child(65) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.4s;
    animation-duration: 37s;
    background: rgba(229,240,181,0.9);
  }
  .stars .container:nth-child(66) {
    width: 3px;
    height: 3px;
    left: 9.5vw;
    animation-delay: -998.4s;
    animation-duration: 45.666666666666664s;
  }
  .stars .container:nth-child(66) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.8s;
    animation-duration: 14s;
    background: rgba(220,153,125,0.9);
  }
  .stars .container:nth-child(67) {
    width: 3px;
    height: 3px;
    left: 96vw;
    animation-delay: -999s;
    animation-duration: 20.866666666666667s;
  }
  .stars .container:nth-child(67) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.9s;
    animation-duration: 43.2s;
    background: rgba(241,225,218,0.9);
  }
  .stars .container:nth-child(68) {
    width: 2px;
    height: 2px;
    left: 80vw;
    animation-delay: -998.2s;
    animation-duration: 64.5s;
  }
  .stars .container:nth-child(68) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.9s;
    animation-duration: 11.8s;
    background: rgba(242,204,136,0.7);
  }
  .stars .container:nth-child(69) {
    width: 1px;
    height: 1px;
    left: 30vw;
    animation-delay: -983.6s;
    animation-duration: 159.8s;
  }
  .stars .container:nth-child(69) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.4s;
    animation-duration: 6.3s;
    background: rgba(251,234,245,0.9);
  }
  .stars .container:nth-child(70) {
    width: 2px;
    height: 2px;
    left: 89vw;
    animation-delay: -998.1s;
    animation-duration: 122.2s;
  }
  .stars .container:nth-child(70) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.2s;
    animation-duration: 22.2s;
    background: rgba(230,232,198,0.8);
  }
  .stars .container:nth-child(71) {
    width: 1px;
    height: 1px;
    left: 45.5vw;
    animation-delay: -997.4s;
    animation-duration: 163.2s;
  }
  .stars .container:nth-child(71) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.6s;
    animation-duration: 42.3s;
    background: rgba(203,231,103,0.7);
  }
  .stars .container:nth-child(72) {
    width: 1px;
    height: 1px;
    left: 82.5vw;
    animation-delay: -980.8s;
    animation-duration: 363.8s;
  }
  .stars .container:nth-child(72) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.7s;
    animation-duration: 28.7s;
    background: rgba(221,162,222,0.9);
  }
  .stars .container:nth-child(73) {
    width: 3px;
    height: 3px;
    left: 52.5vw;
    animation-delay: -994.7333333333333s;
    animation-duration: 80.33333333333333s;
  }
  .stars .container:nth-child(73) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.5s;
    animation-duration: 48.3s;
    background: #dcd2fe;
  }
  .stars .container:nth-child(74) {
    width: 2px;
    height: 2px;
    left: 57.5vw;
    animation-delay: -999.9s;
    animation-duration: 124.3s;
  }
  .stars .container:nth-child(74) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.3s;
    animation-duration: 41.1s;
    background: #f9bc92;
  }
  .stars .container:nth-child(75) {
    width: 2px;
    height: 2px;
    left: 74vw;
    animation-delay: -996.4s;
    animation-duration: 150.8s;
  }
  .stars .container:nth-child(75) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.7s;
    animation-duration: 25.3s;
    background: rgba(205,253,216,0.8);
  }
  .stars .container:nth-child(76) {
    width: 3px;
    height: 3px;
    left: 97vw;
    animation-delay: -998s;
    animation-duration: 53.06666666666666s;
  }
  .stars .container:nth-child(76) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46s;
    animation-duration: 9.1s;
    background: #e5e88b;
  }
  .stars .container:nth-child(77) {
    width: 2px;
    height: 2px;
    left: 12.5vw;
    animation-delay: -995.9s;
    animation-duration: 193.7s;
  }
  .stars .container:nth-child(77) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.4s;
    animation-duration: 29.3s;
    background: rgba(202,237,117,0.8);
  }
  .stars .container:nth-child(78) {
    width: 2px;
    height: 2px;
    left: 33.5vw;
    animation-delay: -997.4s;
    animation-duration: 137.6s;
  }
  .stars .container:nth-child(78) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.8s;
    animation-duration: 47.9s;
    background: rgba(231,233,106,0.8);
  }
  .stars .container:nth-child(79) {
    width: 3px;
    height: 3px;
    left: 45.5vw;
    animation-delay: -998.6666666666666s;
    animation-duration: 126.60000000000001s;
  }
  .stars .container:nth-child(79) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.6s;
    animation-duration: 5.6s;
    background: #f8baad;
  }
  .stars .container:nth-child(80) {
    width: 3px;
    height: 3px;
    left: 25.5vw;
    animation-delay: -998.5333333333333s;
    animation-duration: 74.86666666666666s;
  }
  .stars .container:nth-child(80) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.8s;
    animation-duration: 24.3s;
    background: rgba(213,196,180,0.9);
  }
  .stars .container:nth-child(81) {
    width: 2px;
    height: 2px;
    left: 93vw;
    animation-delay: -990.7s;
    animation-duration: 68.9s;
  }
  .stars .container:nth-child(81) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.9s;
    animation-duration: 42.2s;
    background: rgba(204,209,171,0.8);
  }
  .stars .container:nth-child(82) {
    width: 2px;
    height: 2px;
    left: 31.5vw;
    animation-delay: -997.1s;
    animation-duration: 115.8s;
  }
  .stars .container:nth-child(82) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.9s;
    animation-duration: 45s;
    background: rgba(233,225,248,0.7);
  }
  .stars .container:nth-child(83) {
    width: 2px;
    height: 2px;
    left: 11.5vw;
    animation-delay: -997.8s;
    animation-duration: 121.3s;
  }
  .stars .container:nth-child(83) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.4s;
    animation-duration: 36.6s;
    background: rgba(236,154,201,0.7);
  }
  .stars .container:nth-child(84) {
    width: 2px;
    height: 2px;
    left: 75.5vw;
    animation-delay: -994.3s;
    animation-duration: 66.8s;
  }
  .stars .container:nth-child(84) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.9s;
    animation-duration: 15.4s;
    background: rgba(240,205,172,0.7);
  }
  .stars .container:nth-child(85) {
    width: 3px;
    height: 3px;
    left: 76.5vw;
    animation-delay: -994.4666666666667s;
    animation-duration: 49.53333333333333s;
  }
  .stars .container:nth-child(85) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.9s;
    animation-duration: 42.6s;
    background: #ead8ea;
  }
  .stars .container:nth-child(86) {
    width: 2px;
    height: 2px;
    left: 33.5vw;
    animation-delay: -993s;
    animation-duration: 158.4s;
  }
  .stars .container:nth-child(86) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.6s;
    animation-duration: 28.7s;
    background: rgba(224,214,208,0.7);
  }
  .stars .container:nth-child(87) {
    width: 1px;
    height: 1px;
    left: 20.5vw;
    animation-delay: -992.2s;
    animation-duration: 178.4s;
  }
  .stars .container:nth-child(87) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.2s;
    animation-duration: 50s;
    background: rgba(205,205,216,0.8);
  }
  .stars .container:nth-child(88) {
    width: 2px;
    height: 2px;
    left: 20vw;
    animation-delay: -995.2s;
    animation-duration: 36s;
  }
  .stars .container:nth-child(88) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.4s;
    animation-duration: 42.3s;
    background: rgba(244,160,141,0.7);
  }
  .stars .container:nth-child(89) {
    width: 3px;
    height: 3px;
    left: 20vw;
    animation-delay: -997.2s;
    animation-duration: 75.66666666666667s;
  }
  .stars .container:nth-child(89) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.8s;
    animation-duration: 47.5s;
    background: #f5aed7;
  }
  .stars .container:nth-child(90) {
    width: 2px;
    height: 2px;
    left: 77vw;
    animation-delay: -998.5s;
    animation-duration: 157s;
  }
  .stars .container:nth-child(90) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.9s;
    animation-duration: 7.6s;
    background: rgba(228,218,140,0.9);
  }
  .stars .container:nth-child(91) {
    width: 2px;
    height: 2px;
    left: 18vw;
    animation-delay: -999.3s;
    animation-duration: 138.1s;
  }
  .stars .container:nth-child(91) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.5s;
    animation-duration: 15s;
    background: rgba(201,171,209,0.9);
  }
  .stars .container:nth-child(92) {
    width: 3px;
    height: 3px;
    left: 8vw;
    animation-delay: -998.6s;
    animation-duration: 99.46666666666665s;
  }
  .stars .container:nth-child(92) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.1s;
    animation-duration: 37.2s;
    background: rgba(255,205,192,0.9);
  }
  .stars .container:nth-child(93) {
    width: 2px;
    height: 2px;
    left: 14vw;
    animation-delay: -995.6s;
    animation-duration: 180.9s;
  }
  .stars .container:nth-child(93) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.2s;
    animation-duration: 42s;
    background: #eeb279;
  }
  .stars .container:nth-child(94) {
    width: 2px;
    height: 2px;
    left: 32.5vw;
    animation-delay: -992.5s;
    animation-duration: 35.3s;
  }
  .stars .container:nth-child(94) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.4s;
    animation-duration: 18.4s;
    background: rgba(246,184,101,0.8);
  }
  .stars .container:nth-child(95) {
    width: 3px;
    height: 3px;
    left: 45vw;
    animation-delay: -999.4s;
    animation-duration: 89.93333333333334s;
  }
  .stars .container:nth-child(95) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.9s;
    animation-duration: 12.6s;
    background: rgba(246,166,114,0.8);
  }
  .stars .container:nth-child(96) {
    width: 2px;
    height: 2px;
    left: 57vw;
    animation-delay: -996.3s;
    animation-duration: 90.5s;
  }
  .stars .container:nth-child(96) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.8s;
    animation-duration: 10.7s;
    background: #feec81;
  }
  .stars .container:nth-child(97) {
    width: 2px;
    height: 2px;
    left: 19vw;
    animation-delay: -994.3s;
    animation-duration: 156.2s;
  }
  .stars .container:nth-child(97) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.2s;
    animation-duration: 31.2s;
    background: rgba(217,233,198,0.7);
  }
  .stars .container:nth-child(98) {
    width: 2px;
    height: 2px;
    left: 43.5vw;
    animation-delay: -995.2s;
    animation-duration: 66.8s;
  }
  .stars .container:nth-child(98) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.6s;
    animation-duration: 27.5s;
    background: #ecb9b8;
  }
  .stars .container:nth-child(99) {
    width: 3px;
    height: 3px;
    left: 34vw;
    animation-delay: -998.8666666666667s;
    animation-duration: 16.666666666666668s;
  }
  .stars .container:nth-child(99) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.5s;
    animation-duration: 20.6s;
    background: #d2d4c8;
  }
  .stars .container:nth-child(100) {
    width: 1px;
    height: 1px;
    left: 36vw;
    animation-delay: -982.2s;
    animation-duration: 308.2s;
  }
  .stars .container:nth-child(100) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.8s;
    animation-duration: 46.1s;
    background: rgba(246,172,183,0.8);
  }
  @-moz-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-webkit-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-o-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-moz-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @-webkit-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @-o-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  